<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="북스캠프 도서 쇼핑몰">
    <meta name="keywords" content="books, 도서, 쇼핑">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>북스캠프 | BooksCAMP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- CSS 스타일 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!-- 페이지별 추가 CSS -->
    <th:block layout:fragment="extra-css"></th:block>
</head>
<body>
    <!-- 페이지 로더 -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- 모바일 햄버거 메뉴 -->
    <th:block th:replace="~{fragment/header :: humberger}"></th:block>

    <!-- 헤더 -->
    <th:block th:replace="~{fragment/header :: header}"></th:block>

    <!-- 메인 콘텐츠 영역 (Hero 섹션 없음) -->
    <div layout:fragment="content">
        <h2>콘텐츠 영역</h2>
        <p>이 영역에 페이지별 콘텐츠를 작성하세요.</p>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{fragment/footer :: footer}"></th:block>

    <!-- JavaScript 플러그인 -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <!-- 페이지별 추가 JavaScript -->
    <th:block layout:fragment="extra-js"></th:block>
</body>
</html>
