<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="북스캠프 도서 쇼핑몰">
    <meta name="keywords" content="books, 도서, 쇼핑">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>북스캠프 | BooksCAMP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="icon" href="/img/favicon.ico" type="img/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- CSS 스타일 (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!-- 페이지별 추가 CSS -->
    <th:block layout:fragment="extra-css"></th:block>
</head>
<body>
    <!-- 페이지 로더 -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- 모바일 햄버거 메뉴 -->
    <th:block th:replace="~{fragment/header :: humberger}"></th:block>

    <!-- 헤더 -->
    <th:block th:replace="~{fragment/header :: header}"></th:block>

    <!-- 메인 콘텐츠 영역 (Hero 섹션 없음) -->
    <div layout:fragment="content">
        <h2>콘텐츠 영역</h2>
        <p>이 영역에 페이지별 콘텐츠를 작성하세요.</p>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{fragment/footer :: footer}"></th:block>

    <!-- JavaScript 플러그인 (CDN) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/member-name.js}"></script>

    <!-- 페이지별 추가 JavaScript -->
    <th:block layout:fragment="extra-js"></th:block>
</body>
</html>
