<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>도서 상세</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>도서 상세</h1>
        <p>도서 상세 페이지입니다. API 연동 후 도서 정보를 표시하세요.</p>
        
        <!-- TODO: API에서 가져온 도서 상세 정보 표시 -->
        <div style="margin-top: 2rem;">
            <p>예시: API 연동 후 도서 상세 정보를 표시할 수 있습니다.</p>
        </div>
    </div>
</body>
</html>

