spring:
  application:
    name: front
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  profiles:
    active: prod
  cloud:
    openfeign:
      client:
        config:
          default:
            logger-level: FULL

# feign 로그 출력용
logging:
  level:
    feign.Logger: DEBUG
    store.bookscamp.front.book.feign: DEBUG
    org.springframework.cloud.openfeign: DEBUG


