spring:
  application:
    name: front
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  profiles:
    active: prod
  session:
    redis:
      flush-mode: on_save
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
    redis:
      time-to-live: 600000

# feign 로그 출력용
logging:
  level:
    feign.Logger: DEBUG
    store.bookscamp.front.book.feign: DEBUG
    org.springframework.cloud.openfeign: DEBUG

feign:
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000
        loggerLevel: BASIC

