<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/no-sidebar}">
<head>
    <meta charset="UTF-8">
    <title>로그인 | 북스캠프</title>
</head>
<body>
<div layout:fragment="content">
    <!-- 로그인 섹션 -->
    <section class="checkout spad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="checkout__form">
                        <h4 style="margin-bottom: 30px;">로그인</h4>

                        <form id="loginForm">
                            <div class="checkout__input">
                                <p>아이디<span>*</span></p>
                                <input type="text"
                                       id="username"
                                       name="username"
                                       placeholder="아이디를 입력하세요"
                                       required>
                            </div>

                            <div class="checkout__input">
                                <p>비밀번호<span>*</span></p>
                                <input type="password"
                                       id="password"
                                       name="password"
                                       placeholder="비밀번호를 입력하세요"
                                       required>
                            </div>

                            <div id="loginMessage" style="margin: 15px 0; padding: 10px; border-radius: 4px; display: none;"></div>

                            <button type="submit"
                                    id="loginButton"
                                    class="site-btn"
                                    style="width: 100%; margin-top: 20px;">
                                로그인
                            </button>
                        </form>

                        <div class="text-center mt-4">
                            <p>
                                아직 회원이 아니신가요?
                                <a th:href="@{/signup}"
                                   style="color: #0064FF; font-weight: 600; text-decoration: underline; margin-left: 5px;">
                                    회원가입
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div layout:fragment="extra-js">
</div>
</body>
</html>
