<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="sidebar">
    <section class="sidebar-section">
        <h3>카테고리</h3>
        <ul class="category-list">
            <th:block th:each="category : ${categories}">
                <li th:replace="~{category/category-recursive :: categoryNode(category=${category})}"></li>
            </th:block>
        </ul>
    </section>

    <!-- 추천 섹션 -->
    <section class="sidebar-section">
        <h3>추천</h3>
        <ul class="category-list">
            <li><a th:href="@{/books/bestseller}">베스트셀러</a></li>
            <li><a th:href="@{/books/new}">신간 도서</a></li>
        </ul>
    </section>

</div>