<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<li th:fragment="categoryNode(category)">
    <a th:href="@{'/books?categoryId=' + ${category.id}}"
       th:text="${category.name}"></a>

    <ul class="category-list-child" th:if="${category.children != null AND !category.children.isEmpty()}">
        <th:block th:each="child : ${category.children}">
            <li th:replace="~{this :: categoryNode(category=${child})}"></li>
        </th:block>
    </ul>
</li>

</body>
</html>