<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/no-sidebar}">
<head>
    <title>로그인</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>로그인</h1>
        <p>로그인 페이지입니다. 이 페이지는 <strong>사이드바가 없는</strong> 레이아웃을 사용합니다.</p>
        
        <!-- TODO: 로그인 폼 구현 -->
        <div style="margin-top: 2rem;">
            <p>레이아웃: <code>layouts/no-sidebar.html</code></p>
        </div>
    </div>
</body>
</html>

